{% extends 'base.html'%}
{%block content %}
<h3 class="font-weight-bold text-center grey-text text-uppercase small mb-4 mt-5">portfolio</h3>
<hr class="w-header my-4">
<div class="row">
    <div class="col-md-7 pt-3">
  <img src="/static/images/re.gif  " class="img-fliud gif">  
    </div>
    <div class="col-md-5 p-5 mt-5">
        <!-- Jumbotron -->
<div class="jumbotron text-center">
    <i class="fas fa-laptop-code fa-3x"></i>
    <!-- Title -->
    <h2 class="card-title h2">Welcome into my world</h2>
    <!-- Subtitle -->
    <p class="blue-text my-4 font-weight-bold"></p>
  
    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
  
      <!-- Grid column -->
      <div class="col-xl-7 pb-2">
  
        <p class="card-text  font-weight-light"> The only opportunity to venture into true beauty and great user experience 
            is all here, dont hesitate to reach out and you will never be dissapointed  </p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-4">
  
    <div class="pt-2">
      <button type="button" class="btn btn-light      waves-effect">subscribe&nbsp;<i class="fas fa-bell"></i></button>
    </div>
  
  </div>
  <!-- Jumbotron -->
    </div>
</div>

<!--next section projects-->
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">

        <div class="container my-5">

            <!-- Section -->
            <section>
              
             
              <!-- Modal -->
                  <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                          <div class="modal-content">
                              <div class="modal-body p-0">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                  
                                  <!-- Grid row -->
                                  <div class="row">
                                  
                                      <!-- Grid column -->
                                      <div class="col-md-6 py-5 pl-5">
                                          
                                          <h5 class="font-weight-normal mb-3">Paper cup mockup</h5>
          
                                          <p class="text-muted">Key letters, explain which writing we he carpeting or fame, the itch expand medical amped through constructing time. And scarfs, gain, get showed accounts decades.</p>
          
                                          <ul class="list-unstyled font-small mt-5">
                                              <li>
                                                  <p class="text-uppercase mb-2"><strong>Client</strong></p>
                                                  <p class="text-muted mb-4">Envato Inc.</p>
                                              </li>
          
                                              <li>
                                                  <p class="text-uppercase mb-2"><strong>Date</strong></p>
                                                  <p class="text-muted mb-4">June 27, 2019</p>
                                              </li>
          
                                              <li>
                                                  <p class="text-uppercase mb-2"><strong>Skills</strong></p>
                                                  <p class="text-muted mb-4">Design, HTML, CSS, Javascript</p>
                                              </li>
          
                                              <li>
                                                  <p class="text-uppercase mb-2"><strong>Address</strong></p>
                                                  <a href="https://mdbootstrap.com/docs/jquery/design-blocks/">MDBootstrap</a>
                                              </li>
                                          </ul>
                                          
                                      </div>
                                      <!-- Grid column -->
                                  
                                      <!-- Grid column -->
                                      <div class="col-md-6">
                                          
                                          <div class="view rounded-right">
                                              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/5.jpg" alt="Sample image">
                                          </div>
                                          
                                      </div>
                                      <!-- Grid column -->
                                  
                                  </div>
                                  <!-- Grid row -->
                                  
                              </div>
                          </div>
                      </div>
                  </div>
          
              <h3 class="font-weight-bold text-center grey-text text-uppercase small mb-4">projects</h3>
              <hr class="w-header my-4">
              <p class="lead text-center text-muted pt-2 mb-5"></p>
          
              <!-- Grid row -->
              <div class="row">
          
                <!-- Grid column -->
                <div class="col-md-12 dark-grey-text d-flex justify-content-center mb-5">
          
                </div>
                <!-- Grid column -->
          
              </div>
              <!-- Grid row -->
          
              <!-- Grid row -->
              <div class="gallery mb-5" id="gallery">
          
                <!-- Grid column -->
                <div class="mb-3 pics all 2 animation">
                  <a data-toggle="modal" data-target="#basicExampleModal">
                    <img class="img-fluid z-depth-1 rounded" src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" alt="Card image cap">
                  </a>
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                  <a data-toggle="modal" data-target="#basicExampleModal">
                    <img class="img-fluid z-depth-1 rounded" src="https://mdbootstrap.com/img/Photos/Vertical/7.jpg" alt="Card image cap">
                  </a>
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                  <a data-toggle="modal" data-target="#basicExampleModal">
                    <img class="img-fluid z-depth-1 rounded" src="https://mdbootstrap.com/img/Photos/Vertical/4.jpg" alt="Card image cap">
                  </a>
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="mb-3 pics all 2 animation">
                  <a data-toggle="modal" data-target="#basicExampleModal">
                    <img class="img-fluid z-depth-1 rounded" src="https://mdbootstrap.com/img/Photos/Others/images/63.jpg" alt="Card image cap">
                  </a>
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="mb-3 pics all 2 animation">
                  <a data-toggle="modal" data-target="#basicExampleModal">
                    <img class="img-fluid z-depth-1 rounded" src="https://mdbootstrap.com/img/Photos/Others/images/64.jpg" alt="Card image cap">
                  </a>
                </div>
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                  <a data-toggle="modal" data-target="#basicExampleModal">
                    <img class="img-fluid z-depth-1 rounded" src="https://mdbootstrap.com/img/Photos/Vertical/5.jpg" alt="Card image cap">
                  </a>
                </div>
                <!-- Grid column -->
          
              </div>
              <!-- Grid row -->
          
            </section>
            <!-- Section -->
          
          </div>    
    </div>
</div>

{%endblock%}